# Files
._.DS_Store
.DS_Store
todo.txt

# Folders
.vscode/
env/
modularepi/__pycache__/
modularepi/consortium/
modularepi/main_SEIR.py
modularepi/main_SIR.py
modularepi/main.py

# File extensions
*.pyc
